.doc,
.doc p {
    color: #fff;
}

.doc small {
    color: #b1bac4;
}

.doc a {
    color: #d2a8ff;
}

.doc a:hover {
    text-decoration: underline;
}

.doc del,
.doc s {
    color: #ff7b72;
}

.doc i,
.doc em {
    color: #b1bac4;
}

.doc blockquote {
    background: #161b22;
    border-left-color: #a371f7;
    color: #fff;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
    color: #fff;
}

.doc code {
    color: #ff7b72;
    background-color: #161b22;
}

.doc pre {
    background: #0d1117;
    border-color: #30363d;
    color: #ffa657;
}

.doc pre code {
    color: #fff;
    background: transparent;
}

.doc img {
    border-color: #30363d;
}

.doc pre::selection {
    background-color: #ffd33d;
    color: #0d1117;
}

.doc table {
    color: #fff;
    background-color: #0d1117;
    border-bottom-color: #30363d;
}

.doc table thead {
    background-color: #161b22;
}

.doc table th {
    color: #fff;
    border-bottom-color: #30363d;
}

.doc table tbody tr {
    border-bottom-color: #30363d;
}

.doc table tbody td {
    color: #fff;
}

.doc table tbody tr:nth-child(2n) {
    background-color: #161b22;
}
