/* --- Light Version --- */
.doc,
.doc p {
    color: #24292f;
}

.doc small {
    color: #656d76;
}

.doc a {
    color: #7b1fa2;
}

.doc a:hover {
    text-decoration: underline;
}

.doc del,
.doc s {
    color: #cf222e;
}

.doc i,
.doc em {
    color: #656d76;
}

.doc blockquote {
    background: #f6f8fa;
    border-left-color: #7b1fa2;
    color: #24292f;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
    color: #24292f;
}

.doc code {
    color: #c7254e;
    background-color: #f9f2f4;
}

.doc pre {
    background: #f6f8fa;
    border-color: #d0d7de;
    color: #da6f47;
}

.doc pre code {
    color: #24292f;
    background: transparent;
}

.doc img {
    border-color: #7b1fa2;
}

.doc pre::selection {
    background-color: #ffcc00;
    color: #333;
}

.doc table {
    color: #24292f;
    background-color: #fff;
    border-bottom-color: #d0d7de;
}

.doc table thead {
    background-color: #21262d;
}

.doc table th {
    color: #fff;
    border-bottom-color: #d0d7de;
}

.doc table tbody tr {
    border-bottom-color: #d0d7de;
}

.doc table tbody td {
    color: #24292f;
}

.doc table tbody tr:nth-child(2n) {
    background-color: #f6f8fa;
}

/* --- Layout Styles --- */
.doc img { 
    max-width: 100%; 
    height: auto; 
    border-radius: 5px; 
} 

.doc pre { 
    white-space: pre-wrap; 
    overflow-wrap: break-word; 
    word-break: break-word; 
} 

.doc pre code { 
    white-space: inherit; 
    overflow-wrap: inherit; 
    word-break: inherit; 
}
