.doc,
.doc p {
    overflow: hidden;
    font-size: 14px;
    color: #1f2328;
    line-height: 1.5;
}

.doc small {
    font-size: 10px;
    color: #57606a;
    line-height: 1.5;
}

.doc a {
    color: #7b1fa2;
    font-weight: 600;
}

.doc a:hover {
    text-decoration: underline;
}

.doc del,
.doc s {
    color: #cf222e;
}

.doc i,
.doc em {
    color: #57606a;
    font-size: 15px;
}

.doc blockquote {
    margin: 8px 0;
    padding: 10px 10px 10px 20px;
    background: #f6f8fa;
    border-left: 2px solid #7b1fa2;
    font-style: italic;
    color: #1f2328;
    font-size: 15px;
}

.doc ol,
.doc ul {
    margin: 8px 0;
    padding: 0 0 0 20px;
}

.doc img,
.doc figure,
.doc table {
    max-width: 100%;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
    font-weight: 600;
    color: #1f2328;
    margin: 0 0 10px 0;
}

.doc h1 {
    font-size: 22px;
}

.doc h2 {
    font-size: 20px;
}

.doc h3 {
    font-size: 18px;
}

.doc h4 {
    font-size: 16px;
}

.doc h5 {
    font-size: 14px;
}

.doc h6 {
    font-size: 12px;
}

.doc code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.doc pre {
    display: block;
    background: #f6f8fa;
    border: 1px solid #d0d7de;
    padding: 8px;
    font-family: monospace;
    color: #da6f47;
    border-radius: 8px;
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.doc pre code {
    background: transparent;
    padding: 0;
    color: #444;
}

.doc img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin: 6px 0 12px;
    border: 1px solid #7b1fa2;
}

.doc pre::selection {
    background-color: #ffcc00;
    color: #333333;
}

.doc table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    color: #24292f;
    background-color: #ffffff;
    border-bottom: 1px solid #d0d7de;
    border-radius: 6px;
    overflow: hidden;
}

.doc table thead {
    background-color: #21262D;
}

.doc table th {
    padding: 8px;
    text-align: left;
    font-weight: 600;
    border-bottom: 1px solid #d0d7de;
    color: #C9D1D9;
}

.doc table tbody tr {
    border-bottom: 1px solid #d0d7de;
}

.doc table tbody tr:last-child {
    border-bottom: none;
}

.doc table tbody td {
    padding: 8px;
    vertical-align: middle;
    line-height: 1.5;
}

.doc table tbody tr:nth-child(2n) {
    background-color: #f6f8fa;
}
